
<h1 class=" is-size-3 heading">Users</h1>
<div class="content">
    <ul class="bullet-list">
        @if (ViewBag.Users.Count == 0)
        {
            <li>No Users Added Yet</li>
        }
        @foreach (var user in ViewBag.Users)
        {
            <li>
                @user.FirstName @user.LastName
                <a class="button is-info is-small is-primary" asp-action="add" asp-route-id="@user.Id">Manage Gifts</a>
            </li>
        }
    </ul>
</div>

