
<h1 class=" is-size-3 heading">Users</h1>
<div class="content">
    <ul class="bullet-list">
        @if (ViewBag.Users.Count == 0)
        {
            <li>No Users Added Yet</li>
        }
        @foreach (var user in ViewBag.Users)
        {
            <a class="button is-info is-small is-primary" asp-action="userGifts" asp-route-userId="@user.Id">
                @user.FirstName @user.LastName
            </a>
        }
    </ul>
</div>

